<style>
    .bgg {
      background-image: url("/static/assets/bg.png");
      background-repeat: repeat-x;
      height: 500px;
      background-size: contain; /* 背景图片保持宽高比并适应容器 */
      background-position: top center; /* 背景图片的位置 */
    }
  
    .f500 {
      font-size: 500px;
    }
  
    .f350 {
      font-size: 350px;
    }
  </style>
  
  <body>
    <div class="bgg">
      <img src="/static/assets/v2ex.png" style="height: 500px;position: absolute;" />
      <font color="#FF0000" class="f500" style="position: absolute;margin-top:-150px;left:450px;">v</font>
      <font color="#FF2800" class="f350" style="position: absolute;margin-top:0px;left:710px;">2</font> 
      <font color="#FF5000" class="f500" style="position: absolute;margin-top:-150px;left:950px;">e</font>
      <font color="#FF7800" class="f500" style="position: absolute;margin-top:-150px;left:1260px;">x</font>
    </div>
  </body>