<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v2ex.liewell.fun</title>
    <style>
        .center {
            width: 1080px;
            margin-top: 50px;
            margin: 0 auto;
        }
    </style>
    <title>Margin Auto</title>
</head>
<body>
    <div class="center">
      <img src="/static/assets/mosaic.jpg" style="width: 1080px;"/>
    </div>
    <div class="center">
      <img src="/static/assets/mosaic1.jpg" style="width: 1080px;"/>
    </div>
</body>
</html>